<footer>
    <div class="container-footer">
        <!-- Primera sección del pie de página: Logo y descripción -->
        <div class="box-footer">
            <div class="logo">
                <img src="assets/common/logo.png" alt="Logo Centro Universitario Florense">
            </div>
            <div class="acerca-de">
                <p>
                    Somos una institución de estudiantes florenses sin fines de lucro ubicada en La Plata que ofrece hospedaje autogestionado accesible para estudiantes de Las Flores.
                </p>
            </div>
        </div>

        <!-- Segunda sección del pie de página: Contacto -->
        <div class="box-footer">
            <h2>Contacto</h2>
            <div>
                <a href="https://www.google.com.ar/maps/@-36.0130854,-59.0959911,3a,75y,128.37h,91.32t/data=!3m7!1e1!3m5!1sVa1aWeDGj6AvfvER345mjQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DVa1aWeDGj6AvfvER345mjQ%26cb_client%3Dmaps_sv.tactile.gps%26w%3D203%26h%3D100%26yaw%3D143.79153%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656"><i class="fa-solid fa-location-dot"></i> Las Flores - Esquina Hipólito Yrigoyen</a>
            </div>
            <div>
                <a href="mailto:centrouniversitarioflorense22@gmail.com"><i class="fa-light fa-at"></i> centrouniversitarioflorense22@gmail.com</a>
            </div>
            <div>
                <i class="fas fa-phone"></i> +54 11 2244-445272
            </div>
        </div>

        <!-- Tercera sección del pie de página: Navegación -->
        <div class="box-footer">
            <h2>Navegación</h2>
            <a href="index.html">Inicio</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="contacto.html">Contacto</a>
            <a href="inscripcion.html">Inscripción</a>
        </div>

        <!-- Cuarta sección del pie de página: Redes sociales -->
        <div class="box-footer">
            <h2>Social</h2>
            <span class="icons">
                <a href="https://www.facebook.com/centrouniversitarioflorense/?locale=es_LA" class="icon" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>  
                <a href="https://www.instagram.com/reel/CfE_b4lAlri/?utm_source=ig_embed&utm_campaign=loading" class="icon" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>   
                <a href="https://twitter.com/CentroFlorense?t=STglFArPnM7IddcT5209VA&s=09" class="icon" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                </a>   
            </span>
        </div>
    </div>

    <!-- Sección de derechos de autor -->
    <div class="box-copyright">
        <hr>
        <p>¡Seguinos en nuestras redes sociales para enterarte de todo!</p>
    </div>
</footer>